/* reset css */
*,*::before,*::after{box-sizing:border-box}html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role='list'],ol[role='list']{list-style:none}body{min-height:100vh;line-height:1.5}h1,h2,h3,h4,button,input,label{line-height:1.1}h1,h2,h3,h4{text-wrap:balance}a:not([class]){text-decoration-skip-ink:auto;color:currentColor}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}textarea:not([rows]){min-height:10em}:target{scroll-margin-block:5ex}button {padding: 0;border: none;outline: none;background: none;}
/* reset css */

body {
  font-family: "Noto Sans JP", sans-serif;
	text-align: center;
	color: #0f0f0f;
}

.grid {
	display: grid;
	grid-template-columns: 1fr .5fr 1fr;
	align-items: center;
	height: 70vh;
}

.username_prev {
	font-size: 4rem;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
	.username_prev {
		font-size: 3rem;
	}
}

.left {
	text-align: center;
}
.right {
	text-align: center;
}

.change_btn {
	color: #0f0f0f;
}

header h1{
	font-size: 1rem;
	padding: 30px;
}

span {
	font-size: 22px;
}

button {
	font-size: 1rem;
}

.bold {
	font-weight: 500;
}

.about {
	color: #8d8d8d;
	position: absolute;
	text-align: center;
	bottom: 25px;
	left: 0;
	right: 0;
	text-decoration: none;
}

.fadein {
  animation: fadeIn 0.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ad_box {
	position: relative;
	top: 60px;
	width:  468px;
	margin: 0 auto;
	height: 48px;
}
